.bg-off-white {
  background-color: #e3e3e3;
}

.bg-cool-white {
  background-color: #f6f68f;
}

.bg-red {
  background-color: #c60021;
}

.off-white {
  color: #e3e3e3;
}

.cool-white {
  color: #f6f68f;
}

.red {
  color: #c60021;
}
