.arvo-font {
  font-family: 'Arvo';
}

.lora-font {
  font-family: 'Lora';
}

.scope-font {
  font-family: 'Scope One';
  font-weight: bold;
}

.small-font {
  font-size: 1em;
}

.medium-font {
  font-size: 1.6em;
}

.large-font {
  font-size: 3em;
}

.pop-red {
  text-shadow: 2px 2px #c60021;
}

.pop-cool-white {
  text-shadow: 3px 3px 1px #f0fff0;
}

.pop-eyellow {
  text-shadow: 2px 2px 1px #ffdf6c;
}

.faint-cool-white {
  text-shadow: 1px 1px 2px #f0fff0;
}
