<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What Now | Quick News</title>
    <link rel="stylesheet" href="../static/master.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-off-white">
    <div class="col-d-20 header arvo-font large-font"><h1>whatnow</h1></div>
    <div class="newline"></div>
    <br>
    <div class="col-d-8">
      <div class="col-d-3">
        Region
      </div>
      <div class="col-d-17">
        <form class="country" id="country" action="" method="post">
          <select class="fill-width" name="countries">
            {% for country in countries %}
              <option value="{{ country.lower() }}">{{ country }}</option>
            {% endfor %}
          </select>
          <br><br>
          <input type="submit" name="Get News" value="Submit">
        </form>
      </div>
    </div>
    <div class="col-d-12">
      {% if country != None %}
        {% for headline in news %}
        <div class="col-d-20 grow">
          <a class="no-dec" href="https://{{ headline[0] }}" target="_blank">{{ headline[1] }}</a>
        </div>
        {% endfor %}
      {% endif %}

      {% if country == None %}
       We got no news bud!
      {% endif %}
    </div>
  </body>
</html>
