<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>What Now | Quick News</title>
    <link rel="stylesheet" href="../static/master.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
  </head>
  <body class="bg-blackish">
    <div class="col-d-20">
      <div class="col-d-20 header arvo-font large-font mgrey pop-eyellow"><h1>whatnow</h1></div>
      <div class="col-d-4"></div>
      <div class="col-d-16 scope-font medium-font eyellow" style="padding-left: 65px;">quick news</div>
    </div>
    <div class="newline"></div>
    <div class="col-d-20 bg-eyellow" style:"min-height: 100%;">
      <div class="col-d-8">
        <div class="col-d-5">
          <img src="/static/globe.svg" alt="">
        </div>
        <div class="col-d-15">
          <form class="country" id="country" action="" method="post">
            <select class="fill-width" name="countries">
              {% for country in countries %}
                <option value="{{ country.lower() }}">{{ country }}</option>
              {% endfor %}
            </select>
            <br><br>
            <input type="submit" name="Get News" value="Submit">
          </form>
        </div>
      </div>
      <div class="col-d-12" style:"margin-bottom: 10px;">
        {% if country != None %}
          {% for headline in news %}
          <div class="col-d-20 height-default blip grow bg-dgrey bottom-hat">
            <a class="no-dec white scope-font medium-font" href="https://{{ headline[0] }}" target="_blank">{{ headline[1] }}</a>
          </div>
          {% endfor %}
        {% endif %}

        {% if country == None %}
        <div class="col-d-20 height-default bg-dgrey bottom-hat">
          <p class="no-dec white scope-font medium-font">Select a country<p>
        </div>
        {% endif %}
      </div>
    </div>
  </body>
</html>
